.header {
  background-color: aliceblue;
}

.options {
  transition: 400ms;
  width: 7rem;
  color: black;
  background-color: white;
  justify-content: center;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  text-align: center;
  margin: 0.2rem;
  padding: 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.options:hover {
  color: white;
  background-color: black;
}